@import url('https://fonts.googleapis.com/css?family=Lato');

/* Reset html element to none */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Our default variables */
body,html{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* Toolbar part */
.RDNavbar{
    width: 100%;
    height: 60px;
    background-color: #333;
}

.RDNavbar div{
    background-image: url(../media/image/ToolbarLogo.png);
    display: inline-block;
    float: left;
    height: 40px;
    width: 150px;
    margin: 12px 20px 0px 20px;
    background-size: cover;
    background-position: center;
}

.RDNavbar li{
    display: inline-block;
    padding: 20px 10px 15px 10px;
    float: left;
    list-style: none;
}

.RDNavbar a{
    text-decoration: none;
    color: #fff;
    margin: 25px 20px;
}

.RDNavbar a:hover{
    color: #aaa;
}








#Introducing{
    height: 300px;
}

.TitleText{
    position: absolute;   
    color: azure;
    left: 10%;
    top: 25%;
}

.TitleText-Title{
    font-size: 225px;
}

.TitleText-Info{
    padding: 20px;
    font-size: 18px;
}

.titleLogo{
    position: absolute;
    background-image: url(../media/image/Logo.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    width: 300px;
    height: 300px;
}

.CenterText{
    text-align: center;
    vertical-align: middle;
    transform: translate(0%, 150px);
}

.footer{
    background-color:#343a40 !important; 
    width: 100%;
    height: 100;
}

.title-image{
    background: url('../media/image/TitleImage.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(90%); 
}

.rd-center{
    margin: 0 auto;
}

.showcase-horizontal{
    overflow-y: hidden;
    margin: 40px;
    widows: 100%;
    height: 350px;
}

.profile-horizontal{
    overflow-y: hidden;
    margin: 40px;
    widows: 100%;
    height: 500px;
}

.profile-image{
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.profile h1{
    font-size: 36px;
}

.profile p{
    font-size: 18px;
}

.test-image{
    background: url('../media/image/Testing.jpg');
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}

.text-image-p{
    text-align: center;
    vertical-align: middle;
    transform: translate(0%, 150px);
    color: aliceblue;
    font-weight: 800;
    font-size: 35px;
    margin: 10px 50px 10px 50px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.classWithShadow{
    -moz-box-shadow: 3px 3px 4px #000; 
    -webkit-box-shadow: 3px 3px 4px #000; 
    box-shadow: 3px 3px 10px #000; 
 }

.worktopgap{
    height: 40px;
}